
<section class="profile">
    <header class="header">
      <div class="details">
        <img src="{{user.image}}" alt="John Doe" class="profile-pic">
        <h1 class="heading">{{user.name}}</h1>
        <div class="stats">
          <div class="col-4">
            <h4>Member since:</h4>
            <p>{{user.creation}}</p>
          </div>
          <div class="col-4">
            <h4>Email:</h4>
            <p>{{user.email}}</p>
          </div>
        </div>
      </div>
    </header>
  </section>
<app-lists></app-lists>