<nav>
  <ul>
    <li>
      <a routerLink="/main"><img src="../../../assets/iRDb.png" *ngIf="loggedIn" style="width:35%; border-radius: 15%;"></a>
      <img src="../../../assets/iRDb.png" *ngIf="!loggedIn" style="width:13%; border-radius: 15%;">
    </li>
    <li *ngIf="loggedIn">
      <input type="search" type="text" placeholder="Buscar recetas..." name="search">
    </li>
    <li *ngIf="loggedIn">
      <button type="submit"><img src="../../../assets/search.png"></button>
    </li>
    <li *ngIf="loggedIn">
      Cuisine
    </li>
    <li *ngIf="loggedIn">
      <ng-multiselect-dropdown [placeholder]="'Cuisine no seleccionada'" [settings]="dropdownSettingsC"
        [data]="dropdownListC" [(ngModel)]="selectedItemsC" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </li>
    <li *ngIf="loggedIn">
      Alergias
    </li>
    <li *ngIf="loggedIn">
      <ng-multiselect-dropdown [placeholder]="'Sin alergias'" [settings]="dropdownSettingsI" [data]="dropdownListI"
        [(ngModel)]="selectedItemsI" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </li>
    <li>
      <a class="btn" routerLink="/lists" *ngIf="loggedIn">Mis listas</a>
    </li>
    <li>
      <a class="btn" routerLink="/users" *ngIf="loggedIn">Mi perfil</a>
    </li>
    <li>
      <a class="btn" (click)="logout()" *ngIf="loggedIn">Cerrar sesión</a>
    </li>
    <li>
      <a class="btn" routerLink="/login" *ngIf="!loggedIn">Iniciar sesión</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>