<div class="searchbar">
    <nav>
        <ul>
            <li>
                <a routerLink="/principal"><img src="../../../assets/iRDb.png" width="13%"></a>
            </li>
            <li>
                <div class="buscar">
                    <input type="text" placeholder="Buscar recetas..." name="search">
                    <button type="submit"><img src="../../../assets/search.png"></button>
                </div>
            </li>
            <li>
                <div class="enlaces">
                    <a routerLink="/lists">Listas</a>
                    <a routerLink="/login">Login</a>
                </div>
            </li>
        </ul>
    </nav>
</div>
