<h2 *ngIf="!loggedIn">No hay una sesión iniciada, no se pueden mostrar recetas</h2>

<div class="recipes" *ngIf="loggedIn">
  <h1>{{recipe.name}}</h1>
  <div class="subtext">
    Tiempo de preparacion: {{recipe.prep_time}}
    <span class="ghost">|</span>
    Costo aproximado(USD): {{recipe.cost}}
    <span class="ghost">|</span>
    Cocina: {{recipe.cuicine}}
    <span class="ghost">|</span>
    Porciones: {{recipe.servings}}
  </div>
  <img src="{{recipe.image}}" height="250px" width="300px">
  <div class="ingredients">
    <h2>Ingredients:</h2>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient}}
    </li>
  </div>
  <div class="steps">
    <h2>Steps:</h2>
    <ol>
      <li *ngFor="let step of recipe.steps">
        {{step}}
        <hr>
      </li>
    </ol>
  </div>
</div>
