.recipes {
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Times New Roman", Times, serif;
}

.subtext {
  text-align: center;

  color: gray;
}

.ghost {
  padding: 5px;
}

img {
  display: inline-block;
  vertical-align: top;
  padding-right: 5%;
  padding-top: 2%;
}

.ingredients {
  display: inline-block;
  font-size: 1.10em;
}

.ingredients li{
    list-style: none;
}
.ingredients li:before{
   content: '';
   display: inline-block;
   height: 20px;
   width: 20px;
   background-image: url('../../../../assets/ingredients.png');
   background-size: contain;
}
hr {
  color: #d8753f;
  background-color: #d8753f;
  height: 2px;
  border-width: 0;
}

.steps {
  clear: both;
  list-style: none;
  padding-left: 2%;
  font-size: 1.25em;
  text-align: justify;
}

.steps li {
  padding-top: 1em;
  display: block;
  position: relative;
  counter-increment: inst;
}

.steps li::before {
  content: counter(inst);
  background: #d8753f;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  font-style: italic;
  border-radius: 0 0.675em 0.675em 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0;
  padding-left: 2.25%;
  left: -5%;
  top: -0.65em;
  height: 1.35em;
  width: 1.35em;
  position: absolute;
}

@media (min-width: 33em) {
  .steps li:before {
    border-radius: 50%;
    font-size: 1.5em;
    height: 1.35em;
    margin-left: 2.5%;
    padding-left: 0;
    padding-top: 0;
    top: -0.15em;
    width: 1.35em;
    z-index: -1;
  }
}

h2 {
  margin-top: 5%;
  margin-left: 5%;
}