<h2 *ngIf="!loggedIn">No hay una sesión iniciada, no se pueden mostrar recetas</h2>

<div class="recipes" *ngIf="loggedIn">
  <button class="btn" data-toggle="modal" data-target="#myModal">Agregar a una lista</button>
  <h1>{{recipe.name}}</h1>
  <div class="subtext">
    Tiempo de preparacion: {{recipe.prep_time}}
    <span class="ghost">|</span>
    Costo aproximado(USD): {{recipe.cost}}
    <span class="ghost">|</span>
    Cocina: {{recipe.cuicine}}
    <span class="ghost">|</span>
    Porciones: {{recipe.servings}}
  </div>
  <img src="{{recipe.image}}" height="250px" width="300px">
  <div class="ingredients">
    <h2>Ingredients:</h2>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient}}
    </li>
  </div>
  <div class="steps">
    <h2>Steps:</h2>
    <ol>
      <li *ngFor="let step of recipe.steps">
        {{step}}
        <hr>
      </li>
    </ol>
  </div>
</div>


<div class="modal fade my-modal" tabindex="-1" role="dialog" id='myModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title">Seleccione una lista</h5>
         <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <div class="col">
            <div class="row">
              <div class="listas">
                <ul>
                  <li *ngFor="let list of lists">
                    <a (click)="addToList(list)">{{list.name}}</a>
                    <p>{{list.descripcion}}</p>
                    <hr>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>