li {
  font-size: 2em;
  list-style-type: none;
}

ul {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  background-color: #ef0000;
  height: 1px;
  border-width: 10;
}

img {
  padding-left: 2%;
  display: inline-block;
  vertical-align: auto;
  width: 15%;
}

.recipeName {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  padding-left: 2%;

}

a:hover {
  cursor: pointer;
  font-style: italic;
}

h2 {
  margin-top: 5%;
  margin-left: 5%;
}

button {
  float: right;
  border-color: #800000;
  background-color: #800000;
  color: white;
  font-size: large;
  line-height: 30px;
  margin-bottom: 15%;
  margin-top: 2%;
  margin-right: 5%;
}

.modal-footer button {
  margin-bottom: 0%;
}