li {
  font-size: 2em;
  padding-bottom: 2%;
  list-style-type: none;
}

ul {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  color: #d8753f;
  background-color: #d8753f;
  height: 2px;
  border-width: 0;
}

p {
  font-size: 50%;
}