<div class="login">
    <form>
        <div>
            <label for="username">Nombre de usuario</label><br>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="*********">
        </div>
        <div>
            <button type="button">Cancelar</button>
            <button>Iniciar sesión</button>
        </div>
        <a routerLink="/register">¿No tienes cuenta? Regístrate aquí</a>
    </form>
</div>