div {
    padding-top: 10px;
    text-align: center;
    font-size: large;
}

label {
    padding-right: 10px;
}

input {
    width: 25%;
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: large;
    background-color: #fffd8d;
    border-color: #ffff33;
}

button {
    color: black;
    background-color: #ff8100;
    font-size: large;
    margin: 5px;
    line-height: 30px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #800000;
    color: white;
}

a {
    color: #bf0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #990000;
}

#error{
    color: #980000;
    font-weight: bold;
}